body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .background-image {
    background-image: url("../../assets/images/hero-bio.jpg");
    background-size: cover;
    display: block;
    width: 211vw;
    height: 97vh;
    position: relative;
    bottom: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .background-image {
    background-image: url(../../assets/images/hero-bio.jpg);
    background-size: cover;
    display: block;
    height: 179vh;
    width: 208vw;
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.background-image > .heading {
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .background-image > .heading {
    position: relative;
    top: 5.7rem;
    left: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .background-image > .heading {
    position: absolute;
    top: 19.7rem;
    left: 5rem;
    font-size: 5rem;
  }
}

.footer {
  background-color: #323232;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .footer {
    width: 238vw;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    width: 216vw;
  }
}

.container-footer__heading {
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .container-footer__heading {
    margin-left: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container-footer__heading {
    display: flex;
    margin: 1rem;
    position: relative;
    top: 2rem;
    left: 1rem;
  }
}

.container-management__first {
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .container-management__first ul {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .container-management__first {
    padding-bottom: 1rem;
    margin-top: 3%;
    position: relative;
    right: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container-management__first {
    line-height: 1.5rem;
  }
}
.container-management__second, .container-management__third {
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .container-management__second ul, .container-management__third ul {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .container-management__second, .container-management__third {
    padding-bottom: 1rem;
    position: relative;
    right: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container-management__second, .container-management__third {
    line-height: 1.5rem;
  }
}

.container-icons {
  list-style-type: none;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container-icons {
    display: flex;
    position: relative;
    left: 11rem;
  }
}

ul > .container-management__email,
ul > .container-management__bold,
ul > .container-management__address {
  list-style-type: none;
}
ul > .container-management__email a,
ul > .container-management__bold a,
ul > .container-management__address a {
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
  ul > .container-management__address, ul > .container-management__email {
    margin-top: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  ul > .container-management__address, ul > .container-management__email {
    margin-top: 1rem;
    width: 54%;
  }
}

ul > .container-management__bold {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  ul > .container-management__bold {
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .container-icons {
    display: flex;
    position: relative;
    right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-class__icons {
    padding-right: 1.25rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    position: relative;
    margin-left: 1.8rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  p.copyright {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  p.copyright {
    position: relative;
    right: 41rem;
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .management {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  a.footer-class__logo {
    position: relative;
    bottom: 0.5rem;
    left: 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  a.footer-class__logo {
    position: relative;
    bottom: 14rem;
  }
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next Demi ";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf");
  font-weight: 400;
} 
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
}
@media only screen and (max-width: 768px) {
  .header {
    width: 287vw;
    padding-bottom: 0.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__nav {
    display: flex;
  }
  .header__nav li {
    margin-top: 0.6rem;
    padding: 0;
    list-style: none;
  }
}
@media only screen and (max-width: 768px) and (max-width: 768px) {
  .header__nav a {
    color: #FFFFFF;
    font-size: 0.875rem;
    margin-left: 5rem;
    text-decoration: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .header__nav {
    display: flex;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    width: 238vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  ul.header__nav {
    margin-left: 8rem;
    position: relative;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .header__logo {
    margin-top: 0rem;
    position: relative;
    left: 10rem;
    top: 1.4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .header__logo img {
    position: relative;
    top: 1.5rem;
    left: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .nav__item > a, li.nav__item--active a {
    color: #FFFFFF;
    font-size: 0.875rem;
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  .nav__item > a, li.nav__item--active a {
    color: #FFFFFF;
    font-size: 0.875rem;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  li {
    padding: 0;
    list-style: none;
    margin-right: 2.5rem;
    position: relative;
    bottom: 0.1rem;
  }
}

.background-image {
  background-image: url("../assets/images/hero-shows.jpg");
  width: 100%;
  height: 110vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
  .background-image {
    width: 287vw;
    height: 120vh;
    position: relative;
    top: 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .background-image {
    width: 238vw;
    height: 180vh;
    position: relative;
    bottom: 1.2rem;
  }
}

.heading {
  position: absolute;
  color: #FAFAFA;
}

.heading-shows {
  position: absolute;
  color: #FFFFFF;
}
@media only screen and (max-width: 768px) {
  .heading-shows {
    position: absolute;
    left: 2rem;
    font-size: 1.3rem;
    top: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .heading-shows {
    position: absolute;
    top: 4rem;
    left: 8rem;
    font-size: 4rem;
    width: 118%;
  }
}
@media only screen and (min-width: 1280px) {
  .heading-shows {
    position: absolute;
    font-size: 4.4rem;
    top: 9rem;
    left: 13rem;
  }
}

.heading-tagline-shows {
  position: absolute;
  color: #FAFAFA;
}
@media only screen and (max-width: 768px) {
  .heading-tagline-shows {
    top: 5rem;
    left: 2rem;
    font-size: 2.28rem;
    width: 43%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .heading-tagline-shows {
    position: absolute;
    top: 2.4em;
    font-size: 6.75rem;
    margin-left: 7rem;
    width: 55%;
  }
}
@media only screen and (min-width: 1280px) {
  .heading-tagline-shows {
    position: absolute;
    top: 20rem;
    font-size: 6.75rem;
    margin-left: 12rem;
    width: 41%;
  }
}

.shows h1 {
  font-size: 2.3rem;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .shows h1 {
    font-size: 4.5rem;
    padding-top: 1rem;
  }
}

.shows {
  padding-left: 6.125rem;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .shows {
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .shows {
    display: block;
  }
}

.tables {
  margin-left: 5rem;
  padding-right: 3rem;
  margin-top: 3rem;
  width: 100%;
  border-spacing: 0 15px;
}
@media only screen and (max-width: 768px) {
  .tables {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .tables {
    margin-left: 0;
    font-size: 2rem;
    width: 205%;
  }
}

th {
  color: #E1E1E1;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

th, td {
  text-align: left;
}

td {
  width: 20%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-bottom: 1px solid #E1E1E1;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  td {
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
  }
}
@media only screen and (min-width: 1280px) {
  td {
    padding-top: 1.875rem;
    padding-bottom: 1.6rem;
  }
}

tr td:first-child {
  font-weight: bold;
}

.buy-tickets {
  background-color: #323232;
  color: #FFFFFF;
  height: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.25rem;
}

.iframe {
  border-radius: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .iframe {
    position: relative;
    top: 42rem;
    left: 7rem;
  }
}
@media only screen and (min-width: 1280px) {
  .iframe {
    position: relative;
    top: 28rem;
    left: 70rem;
    width: 540px;
    height: 280px;
  }
}
@media only screen and (max-width: 768px) {
  .iframe {
    position: relative;
    top: 16rem;
    left: 2rem;
  }
}

button {
  color: #FFFFFF;
  background-color: #323232;
}/*# sourceMappingURL=shows.css.map */